body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 32px;
    position: relative;
    top: 250px;
}
.clock{
    background-color: rgb(252, 252, 111);
    padding: 10px;
    border-radius: 16px;
}